/* BEGIN CARD DESIGN */
.con{
  display: flex;
  text-decoration: none;
  position: relative;
    top: 250px;
    left: -215px;
    min-width: 100%;
    max-width: 100%;
    height: 250px;
    overflow-x: scroll;
}
.con::-webkit-scrollbar {
  display: none;
}
.hero {
    display: inline-block;
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 200px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 20px 20px 0px 30px;
  }
  #lasthero{
    margin-right: 30px;
  }
  .hero-profile-img {
    height: 100%;
  }
  
  .hero-description-bk {
    background-image: linear-gradient(0deg , #3f5efb, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }
  
  .second .hero-description-bk {
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
  }
  
  .hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color:none;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  
  .hero-logo img {
    height: 100%;
  }
  
  .hero-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 150px;
    bottom: 26%;
  }
  a{
    text-decoration: none;
  }
  .hero-btn {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    border-radius: 50px;
  }
  
  .hero-btn a {
    color: #fff;
  }
  #btnn{
    background-color: transparent;
    border-color: #eee;
    border-radius: 50px;
    padding: 5px 15px;
  }
  
  .hero-date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
  }
  /* END CARD DESIGN */
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #eee;
    min-height: 100vh;
  }
  .btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }
  .lang{
    font-weight: 100px;
  }